@charset "utf-8";

// Google Font(s)
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;800&display=swap");

// === === === ROOT === === === //
:root {
  // Color
  [data-theme="default"] {
  }
  [data-theme="dark"] {
  }
  // Type Scale
  --header-1: 48.883px;
  --header-2: 39.06px;
  --header-3: 31.25px;
  --subhead-1: 25px;
  --subhead-2: 20px;
  --text: 16px;
  --text-mini: 12.8px;
  --font-family: "Jost", sans-serif;
  --fontweight-regular: 400;
  --fontweight-exbold: 800;
  // Other variables
  --border-radius: 10px;
}
