@charset "utf-8";

// Imports
@import "../utils/normalizecss";
@import "../utils/system";
@import "../utils/mixins";
@import "../layouts/main-layout";

/* Page Styles */
.container {
  width: 100vw;
  min-height: 100vh;

  // Form Elements
  .form__search {
    padding: 24px 0px;
    font-size: var(--subhead-1);
    font-size: clamp(var(--subhead-2), 2vw, var(--subhead-1));
    font-family: var(--font-family);
    font-weight: var(--fontweight-regular);
  }

  .form__input {
    width: 32%;
    min-width: 300px;
  }

  .form__input > input {
    margin: 16px;
    height: 32px;
    padding: 4px;
    width: 50%;
    min-width: 200px;
    font-size: var(--text);
    font-family: var(--font-family);
    font-weight: var(--fontweight-regular);
    border-radius: var(--border-radius);
    border: 1px solid black;
  }

  .form__submitbtn {
    font-size: var(--text);
    font-family: var(--font-family);
    font-weight: var(--fontweight-regular);
    padding: 12px 32px;
    border-radius: var(--border-radius);
  }

  // Player Tile
  .tile__player {
    border: 2px solid black;
    padding: 16px;
  }

  // Player Information
  .player__details {
    min-width: 300px;
    width: 30%;
    max-width: 350px;
  }

  .stat__player-name {
    font-size: var(--header-3);
    font-size: clamp(var(--subhead-2), 2vw, var(--header-3));
    font-family: var(--font-family);
    font-weight: var(--fontweight-exbold);
  }

  .stat__player-number,
  .stat__position,
  .stat__team,
  .stat__height {
    font-size: var(--text);
    font-family: var(--font-family);
    font-weight: var(--fontweight-regular);
  }

  // Player Stats
  .player__stats {
    border: 2px solid black;
    width: 50%;
    border-radius: var(--border-radius);
  }

  .stat__season {
    width: 100%;
    text-align: center;
    font-size: var(--subhead-1);
    font-size: clamp(var(--subhead-2), 2vw, var(--subhead-1));
    font-family: var(--font-family);
    font-weight: var(--fontweight-exbold);
  }

  .stat__card {
    width: 104px;
    text-align: center;
    margin: 24px;
    border: 2px solid black;
    padding: 8px;
    border-radius: var(--border-radius);
  }

  .stat__name {
    font-size: var(--text);
    font-family: var(--font-family);
    font-weight: var(--fontweight-exbold);
    font-style: italic;
  }

  .stat__number {
    font-size: var(--text);
    font-family: var(--font-family);
    font-weight: var(--fontweight-regular);
  }
}

// Media Queries
@media screen and (max-width: 650px) {
  .form__search {
    text-align: center;
  }

  .container .player__stats {
    width: 100%;
  }
}
